body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.image-container {
    margin-top: 20px;
}

#imageDisplay {
    width: 100%;
    height: auto;
}